<!-- Formulario: tabla-->
<div class="col s12 m12 l12" ng-show="formTablaShow">
	<div class="card white z-depth-3">

		<!-- Titulo del formulario-->
		<div class="card grey lighten-3">
			<div class="card-action">
				<h5 class="center">
					CARGOS | Lista
				</h5>
			</div>			
		</div>
		<div class="card-content white black-text">

			<!-- Boton: Nueva Escuela -->
			<buttton type="button" class="btn orange darken-4" ng-click="nuevo()">
				Nuevo Cargo
				<i class="icons ion-android-add-circle right"></i>
			</buttton>

			<!-- Tabla: ALUMNOS -->
			<table class="table bordered striped highlight responsive-table">
				<tr>
					<td>
						DOCUMENTO
					</td>
					<td>
						NUMERO
					</td>
					<td>
						CARGO
					</td>
					<td>
						ACCIONES
					</td>
				</tr>
				<tr ng-repeat="c in cargos">
					<td>
						{{c.d_docume}}
					</td>
					<td>
						{{c.e_numero}}
					</td>
					<td>
						{{c.dc_cargo}}
					</td>
					<td>
						<button type="button" class="blue darken-4 white-text" style="border:0;" ng-click="visualizar(c.d_docume)">
							<i class="icons ion-android-search"></i>
						</button>
						<button type="button" class="blue darken-4 white-text" style="border:0;" ng-click="modificar(c.d_docume)">
							<i class="icons ion-android-create"></i>
						</button>
						<button type="button" class="red darken-4 white-text" style="border:0;" ng-click="eliminar(c.d_docume)">
							<i class="icons ion-android-remove-circle"></i>
						</button>
					</td>
				</tr>

			</table>
		</div>
		<div class="card-action blue darken-3">
			
		</div>
		
	</div>
</div>

<!-- Formulario: Nuevo -->
<div class="col s12 m12 l12" ng-show="formNuevoShow">
	<div class="row">
		<div class="col s10 m8 l6 offset-s1 offset-2 offset-l3">
			<div class="card white z-depth-5">
				<div class="card-action grey lighten-3 center">
					<h5>
						CARGOS | Nuevo
					</h5>
				</div>
				<div class="card-action {{alertColor}} lighten-4 black-text">
					{{alertText}}
				</div>
				<div class="card-content white black-text">


					<!--| d_docume | int(9)  | NO   |     | 0       |       |-->
					<div class="input-field">
						<input id="d_docume" type="number" maxlength="9" ng-model="d_docume" class="validate">
						<label for="d_docume">Documento:</label>
					</div>

					<!-- | e_numero | int(3)  | NO   |     | 0       |       |-->
					<div class="input-field">
						<input id="e_numero" type="number" maxlength="3" ng-model="e_numero" class="validate">
						<label for="e_numero">Numero:</label>
					</div>

					<!--| dc_cargo | char(6) | YES  |     | NULL    |       |-->
					<div class="input-field">
						<input id="dc_cargo" type="text" maxlength="6" ng-model="dc_cargo" class="validate">
						<label for="dc_cargo">Cargo:</label>
					</div>

					<!--| dc_alta  | date    | YES  |     | NULL    |       |-->
					<div class="input-field">
						<input id="dc_alta" type="date" ng-model="dc_alta" class="validate">
						<label for="dc_alta">Alta:</label>
					</div>

					<!--| dc_hora  | int(11) | YES  |     | NULL    |       |-->
					<div class="input-field">
						<input id="dc_hora" type="number" maxlength="11" ng-model="dc_hora" class="validate">
						<label for="dc_hora">Hora:</label>
					</div>

					<!--| dc_decr  | int(11) | YES  |     | NULL    |       |-->
					<div class="input-field">
						<input id="dc_decr" type="number" maxlength="11" ng-model="dc_decr" class="validate">
						<label for="dc_decr">Decripci&oacute;n:</label>
					</div>

					<!--| dc_baja  | date    | YES  |     | NULL    |       |-->
					<div class="input-field">
						<input id="dc_baja" type="date" ng-model="dc_baja" class="validate">
						<label for="dc_baja">Baja:</label>
					</div>

					<!--| dc_causa | char(6) | YES  |     | NULL    |       |-->
					<div class="input-field">
						<input id="dc_causa" type="text" maxlength="6" ng-model="dc_causa" class="validate">
						<label for="dc_causa">Causa:</label>
					</div>
			
				</div>
				<div class="card-action blue darken-3">
					<buttton type="button" class="btn orange darken-4" ng-click="nuevoCancelar()">
						Cancelar
						<i class="icons ion-android-cancel right"></i>
					</buttton>
					<buttton type="button" class="btn orange darken-4" ng-click="nuevoAceptar()">
						Aceptar
						<i class="icons ion-android-send right"></i>
					</buttton>			
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Formulario: Visualizar -->
<div class="col s12 m12 l12" ng-show="formVisualizarShow">
	<div class="row">
		<div class="col s10 m8 l6 offset-s1 offset-2 offset-l3">
			<div class="card white z-depth-5">
				<div class="card-action grey lighten-3 center">
					<h5>
						CARGOS | Visualizar
					</h5>
				</div>
				<div class="card-action {{alertColor}} lighten-4 black-text">
					{{alertText}}
				</div>
				<div class="card-content white black-text">

					<!--| d_docume | int(9)  | NO   |     | 0       |       |-->
						<label for="d_docume">Documento:</label>
					<div class="input-field">
						<input id="d_docume" type="number" maxlength="9" ng-model="d_docume" readonly class="validate">

					</div>

					<!-- | e_numero | int(3)  | NO   |     | 0       |       |-->
						<label for="e_numero">Numero:</label>
					<div class="input-field">
						<input id="e_numero" type="number" maxlength="3" ng-model="e_numero" readonly class="validate">

					</div>

					<!--| dc_cargo | char(6) | YES  |     | NULL    |       |-->
						<label for="dc_cargo">Cargo:</label>
					<div class="input-field">
						<input id="dc_cargo" type="text" maxlength="6" ng-model="dc_cargo" readonly class="validate">

					</div>

					<!--| dc_alta  | date    | YES  |     | NULL    |       |-->
						<label for="dc_alta">Alta:</label>
					<div class="input-field">
						<input id="dc_alta" type="date" ng-model="dc_alta" readonly class="validate">

					</div>

					<!--| dc_hora  | int(11) | YES  |     | NULL    |       |-->
						<label for="dc_hora">Hora:</label>
					<div class="input-field">
						<input id="dc_hora" type="number" maxlength="11" ng-model="dc_hora" readonly class="validate">

					</div>

					<!--| dc_decr  | int(11) | YES  |     | NULL    |       |-->
						<label for="dc_decr">Decripci&oacute;n:</label>
					<div class="input-field">
						<input id="dc_decr" type="number" maxlength="11" ng-model="dc_decr" readonly class="validate">

					</div>

					<!--| dc_baja  | date    | YES  |     | NULL    |       |-->
						<label for="dc_baja">Baja:</label>
					<div class="input-field">
						<input id="dc_baja" type="date" ng-model="dc_baja" readonly class="validate">

					</div>

					<!--| dc_causa | char(6) | YES  |     | NULL    |       |-->
						<label for="dc_causa">Causa:</label>
					<div class="input-field">
						<input id="dc_causa" type="text" maxlength="6" ng-model="dc_causa" readonly class="validate">

					</div>

				</div>
				<div class="card-action blue darken-3">
					<buttton type="button" class="btn orange darken-4" ng-click="visualizarCancelar()">
						Aceptar
						<i class="icons ion-android-cancel right"></i>
					</buttton>			
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Formulario: Modificar -->
<div class="col s12 m12 l12" ng-show="formModificarShow">
	<div class="row">
		<div class="col s10 m8 l6 offset-s1 offset-2 offset-l3">
			<div class="card white z-depth-5">
				<div class="card-action grey lighten-3 center">
					<h5>
						ALUMNOS | Modificar
					</h5>
				</div>
				<div class="card-action {{alertColor}} lighten-4 black-text">
					{{alertText}}
				</div>
				<div class="card-content white black-text">

					<!--| d_docume | int(9)  | NO   |     | 0       |       |-->
						<label for="d_docume">Documento:</label>
					<div class="input-field">
						<input id="d_docume" type="number" maxlength="9" ng-model="d_docume" readonly class="validate">

					</div>

					<!-- | e_numero | int(3)  | NO   |     | 0       |       |-->
						<label for="e_numero">Numero:</label>
					<div class="input-field">
						<input id="e_numero" type="number" maxlength="3" ng-model="e_numero" class="validate">

					</div>

					<!--| dc_cargo | char(6) | YES  |     | NULL    |       |-->
						<label for="dc_cargo">Cargo:</label>
					<div class="input-field">
						<input id="dc_cargo" type="text" maxlength="6" ng-model="dc_cargo" class="validate">

					</div>

					<!--| dc_alta  | date    | YES  |     | NULL    |       |-->
						<label for="dc_alta">Alta:</label>
					<div class="input-field">
						<input id="dc_alta" type="date" ng-model="dc_alta" class="validate">

					</div>

					<!--| dc_hora  | int(11) | YES  |     | NULL    |       |-->
						<label for="dc_hora">Hora:</label>
					<div class="input-field">
						<input id="dc_hora" type="number" maxlength="11" ng-model="dc_hora" class="validate">

					</div>

					<!--| dc_decr  | int(11) | YES  |     | NULL    |       |-->
						<label for="dc_decr">Decripci&oacute;n:</label>
					<div class="input-field">
						<input id="dc_decr" type="number" maxlength="11" ng-model="dc_decr" class="validate">

					</div>

					<!--| dc_baja  | date    | YES  |     | NULL    |       |-->
						<label for="dc_baja">Baja:</label>
					<div class="input-field">
						<input id="dc_baja" type="date" ng-model="dc_baja" class="validate">

					</div>

					<!--| dc_causa | char(6) | YES  |     | NULL    |       |-->
						<label for="dc_causa">Causa:</label>
					<div class="input-field">
						<input id="dc_causa" type="text" maxlength="6" ng-model="dc_causa" class="validate">

					</div>

				</div>
				<div class="card-action blue darken-3">
					<buttton type="button" class="btn orange darken-4" ng-click="modificarCancelar()">
						Cancelar
						<i class="icons ion-android-cancel right"></i>
					</buttton>
					<buttton type="button" class="btn orange darken-4" ng-click="modificarAceptar()">
						Aceptar
						<i class="icons ion-android-send right"></i>
					</buttton>			
				</div>
			</div>
		</div>
	</div>
</div>