<!-- Formulario: tabla-->
<div class="col s12 m12 l12" ng-show="formGrid">
	<div class="card white z-depth-3">

		<!-- Titulo del formulario-->
		<div class="card grey lighten-3">
			<div class="card-action">
				<h5 class="center">
					CURSOS << Materias
				</h5>
			</div>			
		</div>
		<div class="card-content white black-text">

			<!-- Nombre de la escuela -->
			<h3>{{curso.c_codigo}} {{curso.c_divisi}} {{curso.c_anio}}</h3>
			<h5>| {{curso.c_descri}}</h5>

			<!-- Select Cursos -->
			<select ng-model="m_numero" class="browser-default">
				<option ng-repeat="m in materiasl" value="{{m.m_numero}}">{{m.m_nombre}}</option>
			</select>
			<!-- Boton: Nueva Escuela -->
			<buttton type="button" class="btn orange darken-4" ng-click="nuevo()">
				Nueva materia
				<i class="icons ion-android-add-circle right"></i>
			</buttton>

			<buttton type="button" class="btn blue darken-4" ng-click="volver()">
				Volver a cursos
				<i class="icons ion-android-arrow-back right"></i>
			</buttton>

			<!-- Tabla: Escuelas -->
			<table class="table bordered striped highlight responsive-table">
				<tr>
					<td>
						MATERIA
					</td>
					<td>
						DOCENTE
					</td>
					<td>
						ACCIONES
					</td>
				</tr>
				<tr ng-repeat="m in materias">
					<td>
						{{m.m_nombre}}
					</td>
					<td>
						{{m.d_docume}}
					</td>
					<td>
						<button type="button" class="red darken-4 white-text" style="border:0;" ng-click="eliminar(m.m_numero)">
							<i class="icons ion-android-remove-circle"></i>
						</button>
					</td>
				</tr>

			</table>
		</div>
		<div class="card-action blue darken-3">
			
		</div>
		
	</div>
</div>