<!-- Formulario: tabla-->
<div class="col s12 m12 l12" ng-show="formTablaShow">
	<div class="card white z-depth-3">

		<!-- Titulo del formulario-->
		<div class="card grey lighten-3">
			<div class="card-action">
				<h5 class="center">
					ESCUELAS | Lista
				</h5>
			</div>			
		</div>
		<div class="card-content white black-text">

			<!-- Boton: Nueva Escuela -->
			<buttton type="button" class="btn orange darken-2" ng-click="nuevo()">
				Nueva Escuela
				<i class="icons ion-android-add-circle right"></i>
			</buttton>
			
			<div>
				<label><h5>Filtros:</h5></label>
				<fieldset name="Filtros">

					<div class="row">
						<div class="col s4 m4 l4">
							<label for="nombre">Nombre:</label>
							<div class="input-field">
								<input id="nombre" type="text" maxlength="10" ng-model="nombre" class="validate">
							</div>
						</div>
						<div class="col s4 m4 l4">
							<label for="numero">Numero:</label>
							<div class="input-field">
								<input id="numero" type="number" min="1" max="99999" ng-model="numero" class="validate">
							</div>
						</div>
						<div class="col s4 m4 l4">
							<button type="button" class="btn blue darken-2" style="width:200px;">
								Aplicar Filtros
								<i class="icons ion-checkmark-circled right"></i>
							</button>
							<br/>
							<button type="button" class="btn blue ligthen-2" style="width:200px;">
								Quitar   Filtros
								<i class="icons ion-close-circled right"></i>
							</button>
						</div>
					</div> 
							
				</fieldset>
				
			</div>
			

			<!-- Tabla: Escuelas -->
			<table class="table bordered striped highlight responsive-table">
				<tr>
					<td>
						ESCUELA
					</td>
					<td>
						NUMERO
					</td>
					<td>
						TELEFONO
					</td>
					<td>
						ACCIONES
					</td>
				</tr>
				<tr ng-repeat="e in escuelas">
					<td>
						{{e.e_nombre}}
					</td>
					<td>
						{{e.e_numero}}
					</td>
					<td>
						{{e.e_telefo}}
					</td>
					<td>
						<button type="button" class="blue darken-4 white-text" style="border:0;" ng-click="visualizar(e.e_numero)">
							<i class="icons ion-android-search"></i>
						</button>
						<button type="button" class="blue darken-4 white-text" style="border:0;" ng-click="abrir(e.e_numero)">
							<i class="icons ion-android-open"></i>
						</button>
						<button type="button" class="blue darken-4 white-text" style="border:0;" ng-click="modificar(e.e_numero)">
							<i class="icons ion-android-create"></i>
						</button>
						<button type="button" class="red darken-4 white-text" style="border:0;" ng-click="eliminar(e.e_numero)">
							<i class="icons ion-android-remove-circle"></i>
						</button>
					</td>
				</tr>

			</table>
		</div>

		<!-- Paginador -->
		<div class="card-action blue darken-3">
			<ul class="pagination white-text">
				<li><a class="waves-effect btn blue white-text" ng-click="first()">|<</a></li>
				<li><a class="waves-effect btn blue white-text" ng-click="prev()"><<</a></li>
				<li><span class="btn blue white-text"> P&aacute;gina: {{posx}} de {{posf}}</span></li>
				<li><a class="waves-effect btn blue white-text" ng-click="next()">>></a></li>
				<li><a class="waves-effect btn blue white-text" ng-click="last()">>|</a></li>
			</ul>
		</div>
		
	</div>
</div>

<!-- Formulario: Nuevo -->
<div class="col s12 m12 l12" ng-show="formNuevoShow">
	<div class="row">
		<div class="col s10 m8 l6 offset-s1 offset-2 offset-l3">
			<div class="card white z-depth-5">
				<div class="card-action grey lighten-3 center">
					<h5>
						ESCUELAS | Nueva
					</h5>
				</div>
				<div class="card-action {{alertColor}} lighten-4 black-text">
					{{alertText}}
				</div>
				<div class="card-content white black-text">

					<div class="input-field">
						<input id="numero" type="number" maxlength="5" ng-model="numero" class="validate">
						<label for="numero">Numero:</label>
					</div>

					<div class="input-field">
						<input id="nombre" type="text" maxlength="10" ng-model="nombre" class="validate">
						<label for="nombre">Nombre:</label>
					</div>

					<div class="input-field">
						<input id="direccion" type="text" maxlength="16" ng-model="direccion" class="validate">
						<label for="direccion">Direcci&oacute;n:</label>
					</div>

					<div class="input-field">
						<input id="telefono" type="text" maxlength="10" ng-model="telefono" class="validate">
						<label for="telefono">Tel&eacute;fono:</label>
					</div>

					<div class="input-field">
						<input id="croqui" type="text" maxlength="6" ng-model="croqui" class="validate">
						<label for="croqui">Croqui:</label>
					</div>
				</div>
				<div class="card-action blue darken-3">
					<buttton type="button" class="btn orange darken-4" ng-click="nuevoCancelar()">
						Cancelar
						<i class="icons ion-android-cancel right"></i>
					</buttton>
					<buttton type="button" class="btn orange darken-4" ng-click="nuevoAceptar()">
						Aceptar
						<i class="icons ion-android-send right"></i>
					</buttton>			
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Formulario: Visualizar -->
<div class="col s12 m12 l12" ng-show="formVisualizarShow">
	<div class="row">
		<div class="col s10 m8 l6 offset-s1 offset-2 offset-l3">
			<div class="card white z-depth-5">
				<div class="card-action grey lighten-3 center">
					<h5>
						ESCUELAS | Visualizar
					</h5>
				</div>
				<div class="card-action {{alertColor}} lighten-4 black-text">
					{{alertText}}
				</div>
				<div class="card-content white black-text">

					<label for="numero">Numero:</label>
					<div class="input-field">
						<input id="numero" type="number" maxlength="5" ng-model="numero" class="validate" readonly>
					</div>

					<label for="nombre">Nombre:</label>
					<div class="input-field">
						<input id="nombre" type="text" maxlength="10" ng-model="nombre" class="validate" readonly>
					</div>

					<label for="direccion">Direcci&oacute;n:</label>
					<div class="input-field">
						<input id="direccion" type="text" maxlength="16" ng-model="direccion" class="validate" readonly>
					</div>

					<label for="telefono">Tel&eacute;fono:</label>
					<div class="input-field">
						<input id="telefono" type="text" maxlength="10" ng-model="telefono" class="validate" readonly>
					</div>

					<label for="croqui">Croqui:</label>
					<div class="input-field">
						<input id="croqui" type="text" maxlength="6" ng-model="croqui" class="validate" readonly>
					</div>
				</div>
				<div class="card-action blue darken-3">
					<buttton type="button" class="btn orange darken-4" ng-click="visualizarCancelar()">
						Aceptar
						<i class="icons ion-android-cancel right"></i>
					</buttton>			
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Formulario: Modificar -->
<div class="col s12 m12 l12" ng-show="formModificarShow">
	<div class="row">
		<div class="col s10 m8 l6 offset-s1 offset-2 offset-l3">
			<div class="card white z-depth-5">
				<div class="card-action grey lighten-3 center">
					<h5>
						ESCUELAS | Modificar
					</h5>
				</div>
				<div class="card-action {{alertColor}} lighten-4 black-text">
					{{alertText}}
				</div>
				<div class="card-content white black-text">

					<label for="numero">Numero:</label>
					<div class="input-field">
						<input id="numero" type="number" maxlength="5" ng-model="numero" class="validate" readonly>
					</div>

					<label for="nombre">Nombre:</label>
					<div class="input-field">
						<input id="nombre" type="text" maxlength="10" ng-model="nombre" class="validate">
					</div>

					<label for="direccion">Direcci&oacute;n:</label>
					<div class="input-field">
						<input id="direccion" type="text" maxlength="16" ng-model="direccion" class="validate">
					</div>

					<label for="telefono">Tel&eacute;fono:</label>
					<div class="input-field">
						<input id="telefono" type="text" maxlength="10" ng-model="telefono" class="validate">
					</div>

					<label for="croqui">Croqui:</label>
					<div class="input-field">
						<input id="croqui" type="text" maxlength="6" ng-model="croqui" class="validate">
					</div>
				</div>
				<div class="card-action blue darken-3">
					<buttton type="button" class="btn orange darken-4" ng-click="modificarCancelar()">
						Cancelar
						<i class="icons ion-android-cancel right"></i>
					</buttton>
					<buttton type="button" class="btn orange darken-4" ng-click="modificarAceptar()">
						Aceptar
						<i class="icons ion-android-send right"></i>
					</buttton>			
				</div>
			</div>
		</div>
	</div>
</div>