<div class="col s12 m12 l12">
	<div class="card white z-depth-3">

		<!-- Titulo del formulario-->
		<div class="card grey lighten-3">
			<div class="card-action">
				<h5 class="center">
					Salir de la aplicaci&oacute;n
				</h5>
			</div>			
		</div>
		<div class="card-content white black-text">
			<div class="center black-text">
				¿Esta seguro?
			</div>
		</div>
		<div class="card-action blue darken-3">
			<a type="button" class="btn orange darken-4" ng-click="cancelar()">
				Cancelar
				<i class="icons ion-android-cancel right"></i>
			</a>
			<a type="button" class="btn orange darken-4" ng-click="aceptar()">
				Aceptar
				<i class="icons ion-android-send right"></i>
			</a>
		</div>
		
	</div>
</div>